Cadastro itens de consumo completo.json
{
  "name": "Cadastro itens de consumo completo",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET NOCOUNT ON;\n\nINSERT INTO CADASTRO_ITEM_FISCAL\n(ITEM_DESCRICAO\n  , CODIGO_ITEM\n  , UNIDADE,TRIBUT_ORIGEM\n  , CLASSIF_FISCAL\n  , CONTA_CONTABIL\n  , INDICADOR_CFOP\n  , ITEM_FISCAL_GRUPO\n  , TIPO_ITEM_SPED\n  , IDENT_UTILIZACAO_IMOB)\nVALUES\n('{{ $('Loop Over Items').item.json['Nome do item'] }}'\n  , '{{ $('Edit Fields 4').item.json['Codigo do item'] }}'\n  , 'UN'\n  , '{{ $('Loop Over Items').item.json.CST }}'\n  , '{{ $('Loop Over Items').item.json.NCM }}'\n  , '{{ $json.numero_conta }}'\n  , '13'\n  , '02'\n  , '07'\n  , '9')\n\n\n\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        8304,
        1584
      ],
      "id": "29129077-eda7-4095-9c9d-05da4837f6c6",
      "name": "Microsoft SQL",
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "8rguz0R8o0fp0CrE",
          "name": "SQL IB"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddc449e3-45c6-47bf-92d9-a654c1b3b6da",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "{\"id_conta\":false}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7440,
        1424
      ],
      "id": "830cce10-b914-4bd8-9392-d67d644e7437",
      "name": "If3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        6752,
        1424
      ],
      "id": "853486fd-cb8c-4366-83a0-de9fa816cecb",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET NOCOUNT ON;\n\nINSERT INTO CADASTRO_ITEM_FISCAL\n(ITEM_DESCRICAO\n  , CODIGO_ITEM\n  , UNIDADE,TRIBUT_ORIGEM\n  , CLASSIF_FISCAL\n  , CONTA_CONTABIL\n  , INDICADOR_CFOP\n  , ITEM_FISCAL_GRUPO\n  , TIPO_ITEM_SPED\n  , IDENT_UTILIZACAO_IMOB)\nVALUES\n('{{ $('Loop Over Items').item.json['Nome do item'] }}'\n  , '{{ $('Edit Fields 5').item.json['Codigo do item'] }}'\n  , 'UN'\n  , '{{ $('Loop Over Items').item.json.CST }}'\n  , '{{ $('Loop Over Items').item.json.NCM }}'\n  , '{{ $json.numero_conta }}'\n  , '13'\n  , '2'\n  , '07'\n  , '9')"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        8320,
        2544
      ],
      "id": "dff35457-1af0-45f6-81a4-f80a3421d2de",
      "name": "Microsoft SQL2",
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "OkN54iV2AMtgjIYk",
          "name": "SQL TH"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddc449e3-45c6-47bf-92d9-a654c1b3b6da",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "{\"id_conta\":false}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7472,
        2400
      ],
      "id": "9db75fbf-9bc1-4321-b969-e1e68b5521c4",
      "name": "If4"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        6768,
        2400
      ],
      "id": "6278e485-173c-4bb5-be8a-b597ffd4a054",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET NOCOUNT ON;\n\nINSERT INTO CADASTRO_ITEM_FISCAL\n  (ITEM_DESCRICAO\n    , CODIGO_ITEM\n    , UNIDADE\n    , TRIBUT_ORIGEM\n    , CLASSIF_FISCAL\n    , CONTA_CONTABIL\n    , INDICADOR_CFOP\n    , ITEM_FISCAL_GRUPO\n    , TIPO_ITEM_SPED\n    , IDENT_UTILIZACAO_IMOB)\nVALUES\n  ('{{ $('Loop Over Items').item.json['Nome do item'] }}'\n    , '{{ $('Edit Fields 6').item.json['Codigo do item'] }}'\n    , 'UN'\n    , '{{ $('Loop Over Items').item.json.CST }}'\n    , '{{ $('Loop Over Items').item.json.NCM }}'\n    , '{{ $json.numero_conta }}'\n    , '13'\n    , '03'\n    , '07'\n    , '9')"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        8320,
        3424
      ],
      "id": "185deaaf-ec17-467e-bc4c-8abdb2c11a51",
      "name": "Microsoft SQL3",
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "pDQfRZo44eKZeHAY",
          "name": "SQL SL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddc449e3-45c6-47bf-92d9-a654c1b3b6da",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "{\"id_conta\":false}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7472,
        3264
      ],
      "id": "972263a1-0b22-46ae-8886-9b4e71f46f36",
      "name": "If5"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        6752,
        3264
      ],
      "id": "c0c80dcd-d09c-4fe6-bf88-15932f54f796",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "content": "## Decisão da conta contábil ",
        "height": 2128,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6992,
        1344
      ],
      "typeVersion": 1,
      "id": "13d8ef0c-5004-4665-917e-20ef8f27cf5a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1522261375,
          "mode": "list",
          "cachedResultName": "Cadastros SL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=1522261375"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5728,
        3264
      ],
      "id": "49bb703a-80ca-4040-b362-a6787386012c",
      "name": "Planilha de códigos de itens salinas",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sUNRrZy9VSndkdeJ",
          "name": "API sheets"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 198421543,
          "mode": "list",
          "cachedResultName": "Cadastros TH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=198421543"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5744,
        2400
      ],
      "id": "27d45cf1-6e24-40fc-bb3b-f2fdb2e64572",
      "name": "Planilha de código de itens Tommy",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sUNRrZy9VSndkdeJ",
          "name": "API sheets"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Cadastros IB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5728,
        1424
      ],
      "id": "5edffc27-0e9f-4905-83c9-df685013ff49",
      "name": "Planilha de código de itens Inbrands",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sUNRrZy9VSndkdeJ",
          "name": "API sheets"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI",
          "mode": "list",
          "cachedResultName": "Contas contabeis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 338709825,
          "mode": "list",
          "cachedResultName": "Conta IB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit#gid=338709825"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6496,
        1424
      ],
      "id": "64c9ddf3-d5f4-433a-b4de-0ae9808d4c77",
      "name": "Contas contábeis IB",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sUNRrZy9VSndkdeJ",
          "name": "API sheets"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI",
          "mode": "list",
          "cachedResultName": "Contas contabeis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": " Conta TH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6480,
        2400
      ],
      "id": "72d2b49c-c020-4aa7-965e-07fceb377064",
      "name": "Contas contábeis TH",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sUNRrZy9VSndkdeJ",
          "name": "API sheets"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI",
          "mode": "list",
          "cachedResultName": "Contas contabeis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 461745371,
          "mode": "list",
          "cachedResultName": "Conta SL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit#gid=461745371"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6496,
        3264
      ],
      "id": "bef4ad79-8567-4a3d-ad96-6d1c3e25a05d",
      "name": "Contas contábeis SL",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sUNRrZy9VSndkdeJ",
          "name": "API sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1522261375,
          "mode": "list",
          "cachedResultName": "Cadastros SL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=1522261375"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Codigo do item": "={{ $('Edit Fields 6').item.json['Codigo do item'] }}",
            "Desc do item": "={{ $('Loop Over Items').item.json['Nome do item'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Codigo do item",
              "displayName": "Codigo do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Desc do item",
              "displayName": "Desc do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        8592,
        3424
      ],
      "id": "9f39c4b1-d020-4cb6-a7a1-aee7793bc1df",
      "name": "Planilha para adicionar o item cadastrado SL",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sUNRrZy9VSndkdeJ",
          "name": "API sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 198421543,
          "mode": "list",
          "cachedResultName": "Cadastros TH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=198421543"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Codigo do item": "={{ $('Edit Fields 5').item.json['Codigo do item'] }}",
            "Desc do item": "={{ $('Loop Over Items').item.json['Nome do item'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Codigo do item",
              "displayName": "Codigo do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Desc do item",
              "displayName": "Desc do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        8608,
        2544
      ],
      "id": "dc629fe9-8d67-4048-95bd-72fd1ce3c3eb",
      "name": "Planilha para adicionar o item cadastrado TH",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sUNRrZy9VSndkdeJ",
          "name": "API sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Cadastros IB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Codigo do item": "={{ $('Edit Fields 4').item.json['Codigo do item'] }}",
            "Desc do item": "={{ $('Loop Over Items').item.json['Nome do item'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Codigo do item",
              "displayName": "Codigo do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Desc do item",
              "displayName": "Desc do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        8608,
        1584
      ],
      "id": "babad4f4-2b97-4bb0-84d3-1d55448a67b6",
      "name": "Planilha para adicionar o item cadastrado IB",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sUNRrZy9VSndkdeJ",
          "name": "API sheets"
        }
      }
    },
    {
      "parameters": {
        "content": "## Reponde o e-mail para o usuário que solicitou o cadastro",
        "height": 272,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4400,
        1840
      ],
      "typeVersion": 1,
      "id": "36a0959e-3c65-4288-a983-653d945d2dca",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Comando do SQL que insere os dados do cadastro direto no banco\n",
        "height": 2272,
        "width": 208,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8272,
        1376
      ],
      "typeVersion": 1,
      "id": "8e3f3194-87d4-45de-9ec2-73ff84930323",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## IA que vai decidir se o NCM informado esta certo.",
        "height": 320,
        "width": 304,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3584,
        2304
      ],
      "typeVersion": 1,
      "id": "a1cc5250-aff4-4836-af0b-f1af35fc358b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Loop Over Items').item.json.BANCO }}",
                    "rightValue": "09",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3e4995cc-3568-44bc-a031-73ce9127e328"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INBRANDS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "66a77779-5c92-4be3-b1e3-83a759a808e0",
                    "leftValue": "={{ $('Loop Over Items').item.json.BANCO }}",
                    "rightValue": "15",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TOMMY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a7d88002-6847-4262-a43a-5d2f1374be6b",
                    "leftValue": "={{ $('Loop Over Items').item.json.BANCO }}",
                    "rightValue": "06",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SALINAS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9a97cb03-f882-4fde-9122-bf3240e70297",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nenhum e-mail correto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4464,
        2384
      ],
      "id": "8c49bf69-74e7-4ff1-b68d-4a131a3a12a5",
      "name": "Decisão do Banco de dados"
    },
    {
      "parameters": {
        "content": "## Se nenhuma conta contábil se encaixar com o item, entrara em contato com algum responsável\n",
        "height": 2256,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7696,
        960
      ],
      "typeVersion": 1,
      "id": "80cd0948-27d8-40bc-8621-efa0f9709f77",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe \nfrom CLASSIF_FISCAL\nwhere CLASSIF_FISCAL = '{{ $('Loop Over Items').item.json.NCM }}'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        5088,
        1360
      ],
      "id": "88097f02-6243-4cc8-8bd1-8b30ce0b23e1",
      "name": "Microsoft SQL4",
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "8rguz0R8o0fp0CrE",
          "name": "SQL IB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea765e30-297f-4f9c-9f71-0ae92242cd3e",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5296,
        1360
      ],
      "id": "5a89fedb-572c-4cc6-bfa3-efd392fcf26c",
      "name": "If6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe \nfrom CLASSIF_FISCAL\nwhere CLASSIF_FISCAL = '{{ $('Loop Over Items').item.json.NCM }}'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        5056,
        2400
      ],
      "id": "7bd93bfd-984e-4e1d-93d0-5732aaeb6597",
      "name": "Microsoft SQL8",
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "OkN54iV2AMtgjIYk",
          "name": "SQL TH"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea765e30-297f-4f9c-9f71-0ae92242cd3e",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5296,
        2400
      ],
      "id": "0b8d9316-c167-4b1a-a802-d1763443abb8",
      "name": "If8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe \nfrom CLASSIF_FISCAL\nwhere CLASSIF_FISCAL = '{{ $('Loop Over Items').item.json.NCM }}'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        5072,
        3264
      ],
      "id": "58f62a20-341b-4750-af42-382b60e3c6ef",
      "name": "Microsoft SQL6",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "pDQfRZo44eKZeHAY",
          "name": "SQL SL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea765e30-297f-4f9c-9f71-0ae92242cd3e",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5280,
        3264
      ],
      "id": "c2fe1631-65d8-4fec-bd4a-21a14ee6a27b",
      "name": "If7"
    },
    {
      "parameters": {
        "jsCode": "// 1️⃣ Remove itens sem código\nconst itensValidos = items.filter(\n  item => item.json['Codigo do item']\n);\n\n// Segurança: se não houver nenhum código válido\nif (itensValidos.length === 0) {\n  return [{\n    json: { erro: \"SEM_CODIGO_VALIDO\" }\n  }];\n}\n\n// 2️⃣ Pega o ÚLTIMO item da planilha\nconst ultimoItem = itensValidos[itensValidos.length - 1];\nconst ultimoCodigo = ultimoItem.json['Codigo do item'];\n\n// 3️⃣ Extrai letras e números\nconst match = ultimoCodigo.match(/^([A-Za-z]+)(\\d+)$/);\n\nif (!match) {\n  ultimoItem.json.erro = \"FORMATO_INVALIDO\";\n  return itensValidos;\n}\n\nconst prefixo = match[1];\nconst numeroAtual = parseInt(match[2], 10);\n\n// 4️⃣ Incrementa o número\nconst novoNumero = numeroAtual + 1;\n\n// 5️⃣ Mantém zeros à esquerda\nconst tamanhoNumero = match[2].length;\nconst novoNumeroFormatado = String(novoNumero).padStart(tamanhoNumero, '0');\n\n// 6️⃣ Novo código\nconst novoCodigo = `${prefixo}${novoNumeroFormatado}`;\n\n// 7️⃣ Salva no ÚLTIMO item\nultimoItem.json.novo_codigo = novoCodigo;\n\n// 8️⃣ Retorna APENAS o último item (evita apagar outros)\nreturn [ultimoItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5984,
        1424
      ],
      "id": "6b850b04-a824-4fcd-bf87-0456b406ae6a",
      "name": "Código para separar String de int"
    },
    {
      "parameters": {
        "jsCode": "// 1️⃣ Remove itens sem código\nconst itensValidos = items.filter(\n  item => item.json['Codigo do item']\n);\n\n// Segurança: se não houver nenhum código válido\nif (itensValidos.length === 0) {\n  return [{\n    json: { erro: \"SEM_CODIGO_VALIDO\" }\n  }];\n}\n\n// 2️⃣ Pega o ÚLTIMO item da planilha\nconst ultimoItem = itensValidos[itensValidos.length - 1];\nconst ultimoCodigo = ultimoItem.json['Codigo do item'];\n\n// 3️⃣ Extrai prefixo e versão (ex: IF14.0.16)\nconst match = ultimoCodigo.match(/^([A-Za-z]+)(\\d+(?:\\.\\d+)*)$/);\n\nif (!match) {\n  ultimoItem.json.erro = \"FORMATO_INVALIDO\";\n  return [ultimoItem];\n}\n\nconst prefixo = match[1];\nconst versao = match[2];\n\n// 4️⃣ Quebra a versão em partes numéricas\nconst partes = versao.split('.').map(n => parseInt(n, 10));\n\n// 5️⃣ Incrementa APENAS a última parte\npartes[partes.length - 1] += 1;\n\n// 6️⃣ Reconstrói a versão\nconst novaVersao = partes.join('.');\n\n// 7️⃣ Novo código\nconst novoCodigo = `${prefixo}${novaVersao}`;\n\n// 8️⃣ Salva no ÚLTIMO item\nultimoItem.json.novo_codigo = novoCodigo;\n\n// 9️⃣ Retorna APENAS o último item\nreturn [ultimoItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6000,
        3264
      ],
      "id": "3f8e4b58-bf3a-4887-aab1-46417d829c38",
      "name": "Código para separar String de int1"
    },
    {
      "parameters": {
        "jsCode": "// 1️⃣ Remove itens sem código\nconst itensValidos = items.filter(\n  item => item.json['Codigo do item']\n);\n\n// Segurança: se não houver nenhum código válido\nif (itensValidos.length === 0) {\n  return [{\n    json: { erro: \"SEM_CODIGO_VALIDO\" }\n  }];\n}\n\n// 2️⃣ Pega o ÚLTIMO item da planilha\nconst ultimoItem = itensValidos[itensValidos.length - 1];\nconst ultimoCodigo = ultimoItem.json['Codigo do item'];\n\n// 3️⃣ Extrai letras e números\nconst match = ultimoCodigo.match(/^([A-Za-z]+)(\\d+)$/);\n\nif (!match) {\n  ultimoItem.json.erro = \"FORMATO_INVALIDO\";\n  return itensValidos;\n}\n\nconst prefixo = match[1];\nconst numeroAtual = parseInt(match[2], 10);\n\n// 4️⃣ Incrementa o número\nconst novoNumero = numeroAtual + 1;\n\n// 5️⃣ Mantém zeros à esquerda\nconst tamanhoNumero = match[2].length;\nconst novoNumeroFormatado = String(novoNumero).padStart(tamanhoNumero, '0');\n\n// 6️⃣ Novo código\nconst novoCodigo = `${prefixo}${novoNumeroFormatado}`;\n\n// 7️⃣ Salva no ÚLTIMO item\nultimoItem.json.novo_codigo = novoCodigo;\n\n// 8️⃣ Retorna APENAS o último item (evita apagar outros)\nreturn [ultimoItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6000,
        2400
      ],
      "id": "ccc5277a-adde-4327-a5aa-a1d60bd2c821",
      "name": "Código para separa String de int"
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.first().json.content.parts[0].text\nconst contas = $('Aggregate2').first().json.data\n\n// ===========================\n// 1 - Extrair JSON do texto\n// ===========================\n\nconst match = rawOutput.match(/\\{[\\s\\S]*?\\}/);\n\nif (!match) {\n  return [{ json: { numero_conta: false } }];\n}\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(match[0]);\n} catch {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 2 - Verificar ID retornado\n// ===========================\n\nconst idConta = parsed.id_conta;\n\nif (!idConta || idConta === \"false\") {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 3 - Buscar no array\n// ===========================\n\nconst contaEncontrada = contas.find(c => Number(c.ID) === Number(idConta));\n\nif (!contaEncontrada) {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 4 - Retornar número da conta\n// ===========================\n\nreturn [\n  {\n    json: {\n      numero_conta: contaEncontrada[\"Numero Conta\"]\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8032,
        3424
      ],
      "id": "045dd888-4738-4f96-ac4d-f6bcc4147551",
      "name": "Cria o output em JSON 3"
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.first().json.content.parts[0].text\nconst contas = $('Aggregate1').first().json.data\n\n// ===========================\n// 1 - Extrair JSON do texto\n// ===========================\n\nconst match = rawOutput.match(/\\{[\\s\\S]*?\\}/);\n\nif (!match) {\n  return [{ json: { numero_conta: false } }];\n}\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(match[0]);\n} catch {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 2 - Verificar ID retornado\n// ===========================\n\nconst idConta = parsed.id_conta;\n\nif (!idConta || idConta === \"false\") {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 3 - Buscar no array\n// ===========================\n\nconst contaEncontrada = contas.find(c => Number(c.ID) === Number(idConta));\n\nif (!contaEncontrada) {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 4 - Retornar número da conta\n// ===========================\n\nreturn [\n  {\n    json: {\n      numero_conta: contaEncontrada[\"Numero Conta\"]\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8032,
        2544
      ],
      "id": "2c840360-f1b3-4814-b947-653281f4ba69",
      "name": "Cria o output em JSON 2"
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.first().json.content.parts[0].text\nconst contas = $('Aggregate').first().json.data\n\n// ===========================\n// 1 - Extrair JSON do texto\n// ===========================\n\nconst match = rawOutput.match(/\\{[\\s\\S]*?\\}/);\n\nif (!match) {\n  return [{ json: { numero_conta: false } }];\n}\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(match[0]);\n} catch {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 2 - Verificar ID retornado\n// ===========================\n\nconst idConta = parsed.id_conta;\n\nif (!idConta || idConta === \"false\") {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 3 - Buscar no array\n// ===========================\n\nconst contaEncontrada = contas.find(c => Number(c.ID) === Number(idConta));\n\nif (!contaEncontrada) {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 4 - Retornar número da conta\n// ===========================\n\nreturn [\n  {\n    json: {\n      numero_conta: contaEncontrada[\"Numero Conta\"]\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8032,
        1584
      ],
      "id": "75a39688-35fc-4fde-8ce0-e4fc27ec9aef",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        1872,
        2416
      ],
      "id": "f39862fb-76bb-4cd3-b065-d883ec650c35",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "te8Ze3Cr0yJGQtzs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2080,
        2240
      ],
      "id": "4d858f6a-adbe-4c5a-bcd6-7d169f771c73",
      "name": "Mark a message as read",
      "webhookId": "032fe5b2-f2ec-44c3-a0c1-3b6ac138642c",
      "credentials": {
        "gmailOAuth2": {
          "id": "te8Ze3Cr0yJGQtzs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2304,
        2416
      ],
      "id": "ffe0008e-3cf2-46c6-86a4-855a9b828fe2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"cnpj\": {\n      \"type\": \"string\",\n      \"description\": \"Extrair campo CNPJ/CPF do destinatario\"\n    },\n    \"itens\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"nome_item\": {\n            \"type\": \"string\",\n            \"description\": \"Extrair a descrição completa do produto ou serviço exatamente como aparece no documento.\"\n          },\n          \"ncm\": {\n            \"type\": \"string\",\n            \"description\": \"Extrair o campo NCM\"\n          },\n          \"cst\": {\n            \"type\": \"string\",\n            \"description\": \"Extrair o campo CST ou O/CST ou CSOSN\"\n          },\n          \"CFOP\": {\n            \"type\": \"string\",\n            \"description\": \"Extrair o campo CFOP\"\n          },\n          \"codigo\": {\n            \"type\" : \"string\",\n            \"description\" : \"em itens da nota fiscal extrair o campo codigo\"\n          }\n        },\n        \"required\": [\n          \"nome_item\",\n          \"ncm\",\n          \"cst\",\n          \"CFOP\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"cnpj\",\n    \"itens\"\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        2512,
        2416
      ],
      "id": "42f78efc-563e-4877-ab81-0ffeaa7711c8",
      "name": "Information Extractor",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2496,
        2624
      ],
      "id": "78840fd5-e2a9-4394-a6d9-0f63c3452967",
      "name": "Google Gemini Chat Model4",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "MDybPyeFzlSCGMVU",
          "name": "Gemini api pro"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "099cd04c-e7f2-46a9-b076-18768c4a707f",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "VERDADEIRO",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4000,
        2432
      ],
      "id": "1e0d5a4e-f0bf-4e95-871d-61153c241ff4",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Envia o e-mail para suporte caso o NCM não bata com a descrição do item",
        "height": 304,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4192,
        2576
      ],
      "typeVersion": 1,
      "id": "6465bf4c-43ca-4732-94ef-ce351db66f1f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.itens",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2848,
        2416
      ],
      "id": "e0f7187b-b5a6-45f7-ad17-6d168b117ef2",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3328,
        2416
      ],
      "id": "ed7911f7-0ab6-41b8-a7bf-67458839feac",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $items('Edit Fields 1')[0].json.id }}",
        "message": "=Olá!\n\n<br><br>Segue o cadastro de itens abaixo.\n\n<br><br>\n\n<table width=\"100%\" cellpadding=\"6\" cellspacing=\"0\"\n       style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;\">\n    <thead>\n        <tr style=\"background-color: #f2f2f2;\">\n            <th style=\"border: 1px solid #ccc;\">Código do item</th>\n            <th style=\"border: 1px solid #ccc;\">Descrição do item</th>\n        </tr>\n    </thead>\n    <tbody>\n    {{\n    $('Aggregate3').item.json.data\n      .filter(d => d[\"Codigo do item\"] && d[\"Desc do item\"])\n      .map(d => `\n        <tr>\n            <td style=\"border: 1px solid #ccc; text-align: center;\">\n                ${d[\"Codigo do item\"]}\n            </td>\n            <td style=\"border: 1px solid #ccc; text-align: center;\">\n                ${d[\"Desc do item\"]}\n            </td>\n        </tr>\n      `).join('')\n    }}\n    </tbody>\n</table>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4464,
        1968
      ],
      "id": "0603c4f2-d35b-46e5-87bd-516c840067fb",
      "name": "Reply to a message1",
      "webhookId": "76896a78-2e21-4f5f-ae89-9c76a0420b5b",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "te8Ze3Cr0yJGQtzs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3680,
        2112
      ],
      "id": "33b645f5-f3f7-4fe5-97c0-c52b15f179a0",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "content": "## Manda e-mail falando que o CNPJ esta errado ",
        "height": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5008,
        3616
      ],
      "id": "5aac1769-f914-43fe-aac6-5b3aabb1a3a9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Verifica se o NCM esta no banco",
        "height": 2192,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5008,
        1248
      ],
      "id": "3c7de529-8aaf-48a5-917e-3b5605224b69",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Estrai do PDF todos os dados ",
        "height": 304,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2272,
        2288
      ],
      "id": "3b8f8a38-1f38-46e4-948f-2ccec60654e6",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## IA que identifica os campos informados e retorna seus respectivos resultados",
        "height": 496,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2480,
        2256
      ],
      "id": "430000c5-89c9-477a-ae03-11342fecdb51",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Automação cadastro de itens ",
        "height": 3216,
        "width": 7152,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1760,
        832
      ],
      "id": "4e7d325f-d49b-4f9e-8334-d5a559840ab7",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "message": "Olá!\n\nO e-mail enviado veio sem o arquivo.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2080,
        2640
      ],
      "id": "4232ef3a-8a0a-4de4-8253-9d850ae99b6f",
      "name": "Reply to a message",
      "webhookId": "2bc31233-fada-432a-b6ef-c6908e2ffdd0",
      "credentials": {
        "gmailOAuth2": {
          "id": "te8Ze3Cr0yJGQtzs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Edit Fields 1').item.json.id }}",
        "message": "=Olá!\n\n<br><br>O item {{ $('Loop Over Items').item.json['Nome do item'] }} não combina com o NCM {{ $('Loop Over Items').item.json.NCM }}.\n\n<br><br>Para o cadastro desse item e quando o NCM estiver correto necessario realizar o cadastro manual.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4272,
        2752
      ],
      "id": "0af73d3c-ef9b-4af5-994e-f47f742ead96",
      "name": "Reply to a message2",
      "webhookId": "3eac3d97-a0a1-4b9c-8e72-cf0fc1439094",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "te8Ze3Cr0yJGQtzs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Edit Fields 1').item.json.id }}",
        "message": "=O usuário {{ $('Gmail Trigger').item.json.from.value[0].address }} acabou mandando uma nota com o CNPJ incorreto, responsaveis por favor resolver.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5072,
        3744
      ],
      "id": "cdc9a30a-62b3-4963-be4f-7a0a1730642c",
      "name": "Reply to a message3",
      "webhookId": "66237d11-1b98-45c9-bb19-1214cc863412",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "te8Ze3Cr0yJGQtzs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Edit Fields 1').item.json.id }}",
        "message": "=Olá!\n\nNão foi possível encontrar nenhuma conta contábil compatível para o item {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\nCaso encontre uma conta compatível, tera que cadastrar manualmente.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        7792,
        1152
      ],
      "id": "f8cc84a6-b6f5-42f9-8807-fc089ee51032",
      "name": "Reply to a message4",
      "webhookId": "706be682-e606-4889-a263-b32700dab2dc",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "te8Ze3Cr0yJGQtzs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Cadastro de NCM",
        "message": "=Olá!\n\nE necessario realizar o cadastro do NCM: {{ $('Edit Fields 2').item.json.NCM }} \nNo banco: {{ $('Edit Fields 2').item.json.BANCO }} (Inicio do CNPJ)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5568,
        1152
      ],
      "id": "a27c6d64-9695-4c19-a86f-183106187bd7",
      "name": "Send a message",
      "webhookId": "1508721f-5722-45c2-abf3-3f9b5e8e4d6f",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "te8Ze3Cr0yJGQtzs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Código do item repetido",
        "message": "=Olá!\n\n<br><br>O codigo de item <strong>{{ $('Edit Fields 4').item.json['Codigo do item'] }}</strong> ele ja foi cadastrado,\n<br>Por favor, cadastrar o item manualmente com o codigo correto, e depois atualizar a planilha de cadastro de itens com o novo código.\n\n<br><br>Segue dados:\n\n<br><br>Descrição do item: {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\n<br><br>Com o NCM: {{ $('Edit Fields 2').item.json.NCM }}\n\n<br><br>Com o CST: {{ $('Edit Fields 2').item.json.CST }}\n\n<br><br>E com a conta contábil: {{ $('Code in JavaScript').item.json.numero_conta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        8608,
        1776
      ],
      "id": "7162b00e-70af-4ad7-a0d7-8bf55d060b2e",
      "name": "Send a message1",
      "webhookId": "7a4f73f5-dfc0-4036-bfeb-84b1e3da556e",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "te8Ze3Cr0yJGQtzs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Código do item repetido",
        "message": "=Olá!\n<br><br>\nO codigo de item <strong>{{ $('Edit Fields 4').item.json['Codigo do item'] }}</strong> ele ja foi cadastrado,\n<br><br>Por favor, cadastrar o item manualmente com o codigo correto, e depois atualizar a planilha de cadastro de itens com o novo código.\n<br><br>\nSegue dados:\n<br><br>\nDescrição do item: {{ $('Edit Fields 2').item.json['Nome do item'] }}\n<br><br>\nCom o NCM: {{ $('Edit Fields 2').item.json.NCM }}\n<br><br>\nCom o CST: {{ $('Edit Fields 2').item.json.CST }}\n<br><br>\nE com a conta contábil: {{ $('Code in JavaScript').item.json.numero_conta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        8608,
        2736
      ],
      "id": "21f635ba-13f6-43e8-bd6d-bbaf58e7c5f9",
      "name": "Send a message2",
      "webhookId": "7a4f73f5-dfc0-4036-bfeb-84b1e3da556e",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "te8Ze3Cr0yJGQtzs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Código do item repetido",
        "message": "=Olá!\n\nO codigo de item <strong>{{ $('Edit Fields 4').item.json['Codigo do item'] }}</strong> ele ja foi cadastrado,\nPor favor, cadastrar o item manualmente com o codigo correto, e depois atualizar a planilha de cadastro de itens com o novo código.\n\nSegue dados:\n\nDescrição do item: {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\nCom o NCM: {{ $('Edit Fields 2').item.json.NCM }}\n\nCom o CST: {{ $('Edit Fields 2').item.json.CST }}\n\nE com a conta contábil: {{ $('Code in JavaScript').item.json.numero_conta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        8592,
        3616
      ],
      "id": "4f8cd8ff-0e5d-47d0-8208-37f98ad91fed",
      "name": "Send a message3",
      "webhookId": "7a4f73f5-dfc0-4036-bfeb-84b1e3da556e",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "te8Ze3Cr0yJGQtzs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Edit Fields 1').item.json.id }}",
        "message": "=Olá!\n\n<br><br>Não foi possível encontrar nenhuma conta contábil compatível para o item {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\n<br><br>Caso encontre uma conta compatível, tera que cadastrar manualmente.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        7792,
        2192
      ],
      "id": "569daed5-4d8f-4600-8be8-8a3d31151205",
      "name": "Reply to a message5",
      "webhookId": "706be682-e606-4889-a263-b32700dab2dc",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "te8Ze3Cr0yJGQtzs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Edit Fields 1').item.json.id }}",
        "message": "=Olá!\n\nNão foi possível encontrar nenhuma conta contábil compatível para o item {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\nCaso encontre uma conta compatível, tera que cadastrar manualmente.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        7792,
        3040
      ],
      "id": "3a027317-ddd2-4eda-951c-6d010b6e8f0e",
      "name": "Reply to a message6",
      "webhookId": "706be682-e606-4889-a263-b32700dab2dc",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "te8Ze3Cr0yJGQtzs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Cadastro de NCM",
        "message": "=Olá!\n\nE necessario realizar o cadastro do NCM: {{ $('Edit Fields 2').item.json.NCM }} \nNo banco: {{ $('Edit Fields 2').item.json.BANCO }} (Inicio do CNPJ)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5520,
        2192
      ],
      "id": "5ed91ac4-62cd-4ba8-a988-24c94468d9f2",
      "name": "Send a message4",
      "webhookId": "1508721f-5722-45c2-abf3-3f9b5e8e4d6f",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "te8Ze3Cr0yJGQtzs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Cadastro de NCM",
        "message": "=Olá!\n\nE necessario realizar o cadastro do NCM: {{ $('Edit Fields 2').item.json.NCM }} \nNo banco: {{ $('Edit Fields 2').item.json.BANCO }} (Inicio do CNPJ)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5536,
        3040
      ],
      "id": "a2de6376-b4a7-4f45-9615-cd735f37d061",
      "name": "Send a message5",
      "webhookId": "1508721f-5722-45c2-abf3-3f9b5e8e4d6f",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "te8Ze3Cr0yJGQtzs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86922936-95e1-472b-ab6c-2535382450ce",
              "name": "Codigo do item",
              "value": "={{ $json.novo_codigo.toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6224,
        1424
      ],
      "id": "db8f8508-1a54-4220-a999-f48022d20c71",
      "name": "Edit Fields 4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2a167fc-4392-45cc-8a6e-efeb6ffbff77",
              "name": "BANCO",
              "value": "={{ ($json.output.cnpj).slice(0,2) }}",
              "type": "string"
            },
            {
              "id": "ab6d938a-8b78-4820-a81d-4afa1e908ee1",
              "name": "NCM",
              "value": "={{ ($json['output.itens'].ncm).replace(/\\./g, \"\") }}",
              "type": "string"
            },
            {
              "id": "83cdcb94-679f-4860-968c-82a94680bced",
              "name": "Nome do item",
              "value": "={{ $json['output.itens'].nome_item }}",
              "type": "string"
            },
            {
              "id": "8b8589f0-02e5-4852-ad34-89908560b00a",
              "name": "CST",
              "value": "={{ ($json['output.itens'].cst).slice(0,1) }}",
              "type": "string"
            },
            {
              "id": "64b9802b-b777-475c-9ca7-6f0ad6e0d6d2",
              "name": "CFOP",
              "value": "={{ $json['output.itens'].CFOP }}",
              "type": "string"
            },
            {
              "id": "d22d4855-825e-4b93-ae21-453549b61f0a",
              "name": "codigo",
              "value": "={{$json['output.itens'].codigo}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3088,
        2416
      ],
      "id": "7ac5ced5-4ac6-4bf7-9b11-2379bdb951d3",
      "name": "Edit Fields 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2ab8bb7-2b21-4a32-a6b0-a7f003b24e04",
              "name": "data",
              "value": "attachment_0",
              "type": "binary"
            },
            {
              "id": "09389608-d213-4411-ace8-e37f1533ed10",
              "name": "E-mail do solicitante",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "ee3edb79-5202-41b7-a1bf-309f459e43ef",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "7c0c4070-a60f-4426-a199-0aa0563ea1f0",
              "name": "Setor",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        2416
      ],
      "id": "47c62d53-2787-4cd5-8cd0-1694a497f363",
      "name": "Edit Fields 1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86922936-95e1-472b-ab6c-2535382450ce",
              "name": "Codigo do item",
              "value": "={{ $json.novo_codigo.toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6224,
        2400
      ],
      "id": "f14933b2-b049-442d-9a29-86a562ea4bad",
      "name": "Edit Fields 5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86922936-95e1-472b-ab6c-2535382450ce",
              "name": "Codigo do item",
              "value": "={{ $json.novo_codigo.toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6256,
        3264
      ],
      "id": "23730211-1dae-4793-9e1e-0481cac9bc81",
      "name": "Edit Fields 6"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        1632,
        2448
      ],
      "id": "e60cbae4-19ae-4afa-a35b-22a816baa927",
      "name": "Microsoft Outlook Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Descrição do item:\n{{ $('Loop Over Items').item.json['Nome do item'] }}\n\nSetor do solicitante: \n{{ $('Edit Fields 1').item.json.Setor }}\n\nContas disponíveis:\n{{ JSON.stringify($json.data) }}\n\nEscolha o id_conta correto.\nRetorne somente o JSON no formato especificado."
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "systemMessage": "Você é um classificador automático de contas contábeis.\n\nVocê SEMPRE receberá:\n- a descrição do item\n- o setor do solicitante\n- uma lista de contas disponíveis com seus respectivos IDs e descrições\n\nO setor do solicitante deve ser utilizado como contexto principal para entender a finalidade do item.\nA descrição do item serve como complemento para confirmar o enquadramento.\n\nREGRAS ABSOLUTAS:\n- Sua resposta DEVE conter APENAS JSON válido\n- NÃO escreva texto, explicações ou markdown\n- NÃO use blocos ```\n- NÃO use frases antes ou depois do JSON\n- NÃO explique o motivo\n- Escolha APENAS entre os IDs fornecidos\n- NÃO invente, modifique ou crie novos IDs\n- Se não houver correspondência clara entre o item (considerando descrição + setor) e as contas fornecidas, retorne {\"id_conta\":false}\n- Se o setor estiver vazio ou genérico demais para decisão segura, retorne {\"id_conta\":false}\n- Se qualquer texto for incluído fora do JSON, a resposta será considerada inválida.\n\nCRITÉRIO DE DECISÃO:\n- Priorize contas normalmente utilizadas pelo setor informado\n- NÃO infira uso diferente do setor informado\n- Contas de feiras, eventos ou exposições só podem ser escolhidas se o setor informado for Marketing/Eventos OU se a descrição mencionar explicitamente evento, feira ou exposição\n- Estruturas físicas, móveis, cubos, displays ou mobiliários sem indicação explícita de evento NÃO devem ser classificados como despesas de eventos\n- Se mais de uma conta parecer possível, escolha a mais comum para o setor informado\n- Se a decisão não for clara, retorne {\"id_conta\":false}\n\nFORMATO ÚNICO PERMITIDO:\n{\"id_conta\":\"NUMERO\"}\nou\n{\"id_conta\":false}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        7040,
        1424
      ],
      "id": "787fdc11-a1b5-4d97-89a7-26771497ff78",
      "name": "Classificador conta IB",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "MDybPyeFzlSCGMVU",
          "name": "Gemini api pro"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Descrição do item:\n{{ $('Loop Over Items').item.json['Nome do item'] }}\n\nSetor do solicitante: \n{{ $('Edit Fields 1').item.json.Setor }}\n\nContas disponíveis:\n{{ JSON.stringify($json.data) }}\n\nEscolha o id_conta correto.\nRetorne somente o JSON no formato especificado."
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "systemMessage": "Você é um classificador automático de contas contábeis.\n\nVocê SEMPRE receberá:\n- a descrição do item\n- o setor do solicitante\n- uma lista de contas disponíveis com seus respectivos IDs e descrições\n\nO setor do solicitante deve ser utilizado como contexto principal para entender a finalidade do item.\nA descrição do item serve como complemento para confirmar o enquadramento.\n\nREGRAS ABSOLUTAS:\n- Sua resposta DEVE conter APENAS JSON válido\n- NÃO escreva texto, explicações ou markdown\n- NÃO use blocos ```\n- NÃO use frases antes ou depois do JSON\n- NÃO explique o motivo\n- Escolha APENAS entre os IDs fornecidos\n- NÃO invente, modifique ou crie novos IDs\n- Se não houver correspondência clara entre o item (considerando descrição + setor) e as contas fornecidas, retorne {\"id_conta\":false}\n- Se o setor estiver vazio ou genérico demais para decisão segura, retorne {\"id_conta\":false}\n- Se qualquer texto for incluído fora do JSON, a resposta será considerada inválida.\n\nCRITÉRIO DE DECISÃO:\n- Priorize contas normalmente utilizadas pelo setor informado\n- NÃO infira uso diferente do setor informado\n- Contas de feiras, eventos ou exposições só podem ser escolhidas se o setor informado for Marketing/Eventos OU se a descrição mencionar explicitamente evento, feira ou exposição\n- Estruturas físicas, móveis, cubos, displays ou mobiliários sem indicação explícita de evento NÃO devem ser classificados como despesas de eventos\n- Se mais de uma conta parecer possível, escolha a mais comum para o setor informado\n- Se a decisão não for clara, retorne {\"id_conta\":false}\n\nFORMATO ÚNICO PERMITIDO:\n{\"id_conta\":\"NUMERO\"}\nou\n{\"id_conta\":false}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        7040,
        2400
      ],
      "id": "e4d18018-173e-48bf-97d4-d63f8c4791e5",
      "name": "Classificador conta TH",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "MDybPyeFzlSCGMVU",
          "name": "Gemini api pro"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Descrição do item:\n{{ $('Loop Over Items').item.json['Nome do item'] }}\n\nSetor do solicitante: \n{{ $('Edit Fields 1').item.json.Setor }}\n\nContas disponíveis:\n{{ JSON.stringify($json.data) }}\n\nEscolha o id_conta correto.\nRetorne somente o JSON no formato especificado."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "Você é um classificador automático de contas contábeis.\n\nVocê SEMPRE receberá:\n- a descrição do item\n- o setor do solicitante\n- uma lista de contas disponíveis com seus respectivos IDs e descrições\n\nO setor do solicitante deve ser utilizado como contexto principal para entender a finalidade do item.\nA descrição do item serve como complemento para confirmar o enquadramento.\n\nREGRAS ABSOLUTAS:\n- Sua resposta DEVE conter APENAS JSON válido\n- NÃO escreva texto, explicações ou markdown\n- NÃO use blocos ```\n- NÃO use frases antes ou depois do JSON\n- NÃO explique o motivo\n- Escolha APENAS entre os IDs fornecidos\n- NÃO invente, modifique ou crie novos IDs\n- Se não houver correspondência clara entre o item (considerando descrição + setor) e as contas fornecidas, retorne {\"id_conta\":false}\n- Se o setor estiver vazio ou genérico demais para decisão segura, retorne {\"id_conta\":false}\n- Se qualquer texto for incluído fora do JSON, a resposta será considerada inválida.\n\nCRITÉRIO DE DECISÃO:\n- Priorize contas normalmente utilizadas pelo setor informado\n- NÃO infira uso diferente do setor informado\n- Contas de feiras, eventos ou exposições só podem ser escolhidas se o setor informado for Marketing/Eventos OU se a descrição mencionar explicitamente evento, feira ou exposição\n- Estruturas físicas, móveis, cubos, displays ou mobiliários sem indicação explícita de evento NÃO devem ser classificados como despesas de eventos\n- Se mais de uma conta parecer possível, escolha a mais comum para o setor informado\n- Se a decisão não for clara, retorne {\"id_conta\":false}\n\nFORMATO ÚNICO PERMITIDO:\n{\"id_conta\":\"NUMERO\"}\nou\n{\"id_conta\":false}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        7040,
        3264
      ],
      "id": "0c1fb795-9f4d-4d75-bb46-a80f0623b352",
      "name": "Classificador conta SL",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "MDybPyeFzlSCGMVU",
          "name": "Gemini api pro"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6504152f-64be-447a-87e0-0b77eb755ef4",
              "leftValue": "={{ $json.temCodigo }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4144,
        2112
      ],
      "id": "b6e5526d-23ec-4415-bb7d-655f56e50ffd",
      "name": "If1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Produto: {{ $json['Nome do item'] }}\nNCM: {{ $json.NCM }}\n\nO NCM é claramente incompatível com o produto?"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "Você é responsável apenas por verificar se um NCM é claramente incompatível com um produto.\n\nRegras:\n- Não faça análise técnica detalhada.\n- Considere o NCM compatível sempre que houver qualquer plausibilidade razoável.\n- Somente responda FALSO quando o produto e o NCM forem evidentemente de naturezas totalmente diferentes.\n- Se não for claramente absurdo, responda VERDADEIRO.\n- Se a descrição indicar manutenção, troca, reparo ou instalação de um componente, considere o NCM do componente como plausível.\n- Se houver qualquer dúvida, responda VERDADEIRO.\n- Responda apenas com: VERDADEIRO ou FALSO.\n- Não escreva nenhuma explicação.\n- Não escreva texto adicional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        3616,
        2432
      ],
      "id": "ead0766b-c2c8-4165-83ba-bece5f8493ac",
      "name": "Validar NCM",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "MDybPyeFzlSCGMVU",
          "name": "Gemini api pro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data;\n\nconst temCodigoPreenchido = data.some(\n  item => item['Codigo do item'] !== '' && item['Codigo do item'] !== null && item['Codigo do item'] !== undefined\n);\n\nreturn [{\n  json: {\n    temCodigo: temCodigoPreenchido\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3936,
        2112
      ],
      "id": "c18063db-0027-46cb-90e9-e2405ed5437b",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Planilha para adicionar o item cadastrado IB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Classificador conta IB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Reply to a message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL2": {
      "main": [
        [
          {
            "node": "Planilha para adicionar o item cadastrado TH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Reply to a message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria o output em JSON 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Classificador conta TH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL3": {
      "main": [
        [
          {
            "node": "Planilha para adicionar o item cadastrado SL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Reply to a message6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria o output em JSON 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Classificador conta SL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha de códigos de itens salinas": {
      "main": [
        [
          {
            "node": "Código para separar String de int1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha de código de itens Tommy": {
      "main": [
        [
          {
            "node": "Código para separa String de int",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha de código de itens Inbrands": {
      "main": [
        [
          {
            "node": "Código para separar String de int",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contas contábeis IB": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contas contábeis TH": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contas contábeis SL": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha para adicionar o item cadastrado SL": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha para adicionar o item cadastrado TH": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha para adicionar o item cadastrado IB": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decisão do Banco de dados": {
      "main": [
        [
          {
            "node": "Microsoft SQL4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Microsoft SQL8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Microsoft SQL6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL4": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Planilha de código de itens Inbrands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL8": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Planilha de código de itens Tommy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL6": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Send a message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Planilha de códigos de itens salinas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código para separar String de int": {
      "main": [
        [
          {
            "node": "Edit Fields 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código para separar String de int1": {
      "main": [
        [
          {
            "node": "Edit Fields 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código para separa String de int": {
      "main": [
        [
          {
            "node": "Edit Fields 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o output em JSON 3": {
      "main": [
        [
          {
            "node": "Microsoft SQL3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o output em JSON 2": {
      "main": [
        [
          {
            "node": "Microsoft SQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Decisão do Banco de dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar NCM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 4": {
      "main": [
        [
          {
            "node": "Contas contábeis IB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 5": {
      "main": [
        [
          {
            "node": "Contas contábeis TH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 6": {
      "main": [
        [
          {
            "node": "Contas contábeis SL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read": {
      "main": [
        []
      ]
    },
    "Classificador conta IB": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificador conta TH": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificador conta SL": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Reply to a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar NCM": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message6": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "32f1388d-bdde-4cb7-87cd-91b133d3c4bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9ac0336281178410ae1caf9c0c4bc6510509f0f05a469f30c634bd9ecc77f35"
  },
  "id": "yr23QBaxXpVDy6cS3mFRo",
  "tags": [
    {
      "updatedAt": "2026-02-10T01:45:31.626Z",
      "createdAt": "2026-02-10T01:45:31.626Z",
      "id": "YilRmVmeVnaYqnNc",
      "name": "Cadastro de itens"
    }
  ]
}