Cadastro itens de consumo prototipo.json
{
  "name": "Cadastro itens de consumo prototipo",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET NOCOUNT ON;\n\nINSERT INTO CADASTRO_ITEM_FISCAL\n(ITEM_DESCRICAO\n  , CODIGO_ITEM\n  , UNIDADE,TRIBUT_ORIGEM\n  , CLASSIF_FISCAL\n  , CONTA_CONTABIL\n  , INDICADOR_CFOP\n  , ITEM_FISCAL_GRUPO\n  , TIPO_ITEM_SPED\n  , IDENT_UTILIZACAO_IMOB)\nVALUES\n('{{ $('Loop Over Items').item.json['Nome do item'] }}'\n  , '{{ $('Edit Fields').item.json['Codigo do item'] }}'\n  , 'UN'\n  , '{{ $('Loop Over Items').item.json.CST }}'\n  , '{{ $('Loop Over Items').item.json.NCM }}'\n  , '{{ $json.numero_conta }}'\n  , '13'\n  , '02'\n  , '07'\n  , '9')\n\n\n\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        8656,
        960
      ],
      "id": "5b1d3ce4-2ebd-4b66-9946-b0c411ddd547",
      "name": "Microsoft SQL",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3920,
        1520
      ],
      "id": "7fa49fd9-7df7-4a8a-bb67-87f970dc1317",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jbgPsIgjGxT5o9y2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Descrição do item:\n{{ $('Edit Fields 2').item.json['Nome do item'] }}\n\nSetor do solicitante: \n{{ $('Edit Fields 1').item.json.Setor }}\n\nContas disponíveis:\n{{ JSON.stringify($json.data) }}\n\nEscolha o id_conta correto.\nRetorne somente o JSON no formato especificado.",
        "options": {
          "systemMessage": "Você é um classificador automático de contas contábeis.\n\nVocê SEMPRE receberá:\n- a descrição do item\n- o setor do solicitante\n- uma lista de contas disponíveis com seus respectivos IDs e descrições\n\nO setor do solicitante deve ser utilizado como contexto principal para entender a finalidade do item.\nA descrição do item serve como complemento para confirmar o enquadramento.\n\nREGRAS ABSOLUTAS:\n- Sua resposta DEVE conter APENAS JSON válido\n- NÃO escreva texto, explicações ou markdown\n- NÃO use blocos ``` \n- NÃO use frases antes ou depois do JSON\n- NÃO explique o motivo\n- Escolha APENAS entre os IDs fornecidos\n- NÃO invente, modifique ou crie novos IDs\n- Se não houver correspondência clara entre o item (considerando descrição + setor) e as contas fornecidas, retorne false\n\nCRITÉRIO DE DECISÃO:\n- Priorize contas que sejam normalmente utilizadas pelo setor informado\n- NÃO infira uso diferente do setor informado\n- Contas de feiras, eventos ou exposições só podem ser escolhidas se o setor informado for Marketing/Eventos OU se a descrição mencionar explicitamente evento, feira ou exposição\n- Estruturas físicas, móveis, cubos, displays ou mobiliários sem indicação explícita de evento NÃO devem ser classificados como despesas de eventos\n- Se mais de uma conta parecer possível, escolha a mais comum para o setor informado\n- Se a decisão não for clara, retorne false\n\nFORMATO ÚNICO PERMITIDO:\n{\"id_conta\":\"NUMERO\"}\nou\n{\"id_conta\":false}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        7360,
        800
      ],
      "id": "6725f91c-1cb6-4877-86cd-e9f56b790888",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        7296,
        1008
      ],
      "id": "9c434c7d-eed0-43e2-ac46-c992096266e7",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "jbgPsIgjGxT5o9y2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddc449e3-45c6-47bf-92d9-a654c1b3b6da",
              "leftValue": "={{ $json.output }}",
              "rightValue": "{\"id_conta\":false}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7824,
        800
      ],
      "id": "bf70d649-49f5-4bb4-8aef-ec4d3f059d6a",
      "name": "If3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        7104,
        800
      ],
      "id": "01543dc8-5507-4058-a519-63005a285ee8",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO CADASTRO_ITEM_FISCAL\n(ITEM_DESCRICAO\n  , CODIGO_ITEM\n  , UNIDADE,TRIBUT_ORIGEM\n  , CLASSIF_FISCAL\n  , CONTA_CONTABIL\n  , INDICADOR_CFOP\n  , ITEM_FISCAL_GRUPO\n  , TIPO_ITEM_SPED\n  , IDENT_UTILIZACAO_IMOB)\nVALUES\n('{{ $('Loop Over Items').item.json['Nome do item'] }}'\n  , '{{ $('Edit Fields2').item.json['Codigo do item'] }}'\n  , 'UN'\n  , '{{ $('Loop Over Items').item.json.CST }}'\n  , '{{ $('Loop Over Items').item.json.NCM }}'\n  , '{{ $json.numero_conta }}'\n  , '13'\n  , '2'\n  , '07'\n  , '9')"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        8656,
        1408
      ],
      "id": "f03b286e-cc22-4734-8ef2-d8129ad206d4",
      "name": "Microsoft SQL2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você receberá os dados de um item fiscal que precisa ser vinculado a uma conta contábil.\n\nDescrição do item:\n{{ $('Loop Over Items').item.json['Nome do item'] }}\n\nNCM: \n{{ $('Edit Fields 2').item.json.NCM }}\n\nCFOP: \n{{ $('Edit Fields 2').item.json.CFOP }}\n\nArray com as contas: \n{{ JSON.stringify($json.data) }}",
        "options": {
          "systemMessage": "Você é um agente de IA responsável apenas por escolher uma única conta contábil final para um item recebido.\n\nVocê receberá um JSON contendo a lista completa das contas contábeis da empresa, onde cada elemento possui o ID e a descrição da conta contábil.\n\nTodas as contas devem ser consideradas como um conjunto único.\n\nVocê também receberá as seguintes informações do item fiscal:\n\ndescrição do item\n\nNCM\n\nCFOP\n\nA escolha da conta deve ser feita com base na melhor correspondência conceitual disponível entre as opções apresentadas.\n\nA análise deve seguir esta ordem lógica:\nPrimeiro utilize o CFOP para compreender a natureza da operação (entrada, venda, devolução, ativo, consumo, industrialização, etc.).\nEm seguida utilize o NCM para identificar a natureza técnica do produto ou serviço.\nPor fim utilize a descrição do item para refinar a classificação e confirmar a finalidade mais comum no contexto empresarial.\n\nA classificação não precisa ser literal ou exata.\nVocê pode considerar o uso típico do item no contexto empresarial.\n\nQuando houver dúvida entre múltiplas contas possíveis, escolha aquela que represente a finalidade mais comum do item.\n\nEvite retornar false sempre que existir uma conta razoavelmente aplicável.\n\nRegras obrigatórias de saída\n\nRetorne apenas UM output.\n\nSe encontrar uma conta compatível, responda exatamente no formato:\n{ \"id_conta\": numero }\n\nSe realmente não existir nenhuma conta aplicável, responda:\n{ \"id_conta\": false }\n\nNão escreva explicações."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        7360,
        1264
      ],
      "id": "fde1df41-32ac-4e6d-aad2-1879bec9a441",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        7296,
        1472
      ],
      "id": "2fc56a39-a5c3-42e0-8b2a-18e481a2159f",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "jbgPsIgjGxT5o9y2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddc449e3-45c6-47bf-92d9-a654c1b3b6da",
              "leftValue": "={{ $json.output }}",
              "rightValue": "{\"id_conta\":false}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7808,
        1264
      ],
      "id": "90fd5e5a-524c-4663-9995-067c14cde22f",
      "name": "If4"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        7104,
        1264
      ],
      "id": "dd4c55ce-e8a9-413b-8d11-b63f88f99b16",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO CADASTRO_ITEM_FISCAL\n  (ITEM_DESCRICAO\n    , CODIGO_ITEM\n    , UNIDADE\n    , TRIBUT_ORIGEM\n    , CLASSIF_FISCAL\n    , CONTA_CONTABIL\n    , INDICADOR_CFOP\n    , ITEM_FISCAL_GRUPO\n    , TIPO_ITEM_SPED\n    , IDENT_UTILIZACAO_IMOB)\nVALUES\n  ('{{ $('Loop Over Items').item.json['Nome do item'] }}'\n    , '{{ $('Edit Fields3').item.json['Codigo do item'] }}'\n    , 'UN'\n    , '{{ $('Loop Over Items').item.json.CST }}'\n    , '{{ $('Loop Over Items').item.json.NCM }}'\n    , '{{ $json.numero_conta }}'\n    , '13'\n    , '03'\n    , '07'\n    , '9')"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        8656,
        1920
      ],
      "id": "a6eec2e7-a718-454f-96c5-1bb27b406e47",
      "name": "Microsoft SQL3",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você receberá os dados de um item fiscal que precisa ser vinculado a uma conta contábil.\n\nDescrição do item:\n{{ $('Loop Over Items').item.json['Nome do item'] }}\n\nNCM: \n{{ $('Edit Fields 2').item.json.NCM }}\n\nCFOP: \n{{ $('Edit Fields 2').item.json.CFOP }}\n\nArray com as contas: \n{{ JSON.stringify($json.data) }}",
        "options": {
          "systemMessage": "Você é um agente de IA responsável apenas por escolher uma única conta contábil final para um item recebido.\n\nVocê receberá um JSON contendo a lista completa das contas contábeis da empresa, onde cada elemento possui o ID e a descrição da conta contábil.\n\nTodas as contas devem ser consideradas como um conjunto único.\n\nVocê também receberá as seguintes informações do item fiscal:\n\ndescrição do item\n\nNCM\n\nCFOP\n\nA escolha da conta deve ser feita com base na melhor correspondência conceitual disponível entre as opções apresentadas.\n\nA análise deve seguir esta ordem lógica:\nPrimeiro utilize o CFOP para compreender a natureza da operação (entrada, venda, devolução, ativo, consumo, industrialização, etc.).\nEm seguida utilize o NCM para identificar a natureza técnica do produto ou serviço.\nPor fim utilize a descrição do item para refinar a classificação e confirmar a finalidade mais comum no contexto empresarial.\n\nA classificação não precisa ser literal ou exata.\nVocê pode considerar o uso típico do item no contexto empresarial.\n\nQuando houver dúvida entre múltiplas contas possíveis, escolha aquela que represente a finalidade mais comum do item.\n\nEvite retornar false sempre que existir uma conta razoavelmente aplicável.\n\nRegras obrigatórias de saída\n\nRetorne apenas UM output.\n\nSe encontrar uma conta compatível, responda exatamente no formato:\n{ \"id_conta\": numero }\n\nSe realmente não existir nenhuma conta aplicável, responda:\n{ \"id_conta\": false }\n\nNão escreva explicações."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        7344,
        1760
      ],
      "id": "7bba5d9c-ada6-4c78-a63b-5a3885a44572",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        7280,
        1968
      ],
      "id": "ec7cbc53-699f-4f3a-aa90-eae84cb04f23",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "jbgPsIgjGxT5o9y2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddc449e3-45c6-47bf-92d9-a654c1b3b6da",
              "leftValue": "={{ JSON.parse($json.output).id_conta }}",
              "rightValue": "{\"id_conta\":false}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7808,
        1760
      ],
      "id": "94447484-2079-4b00-86a8-0973045c581f",
      "name": "If5"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        7088,
        1760
      ],
      "id": "17182ec9-d403-43cf-b3a1-a528551ce22c",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "content": "## Decisão da conta contábil ",
        "height": 1456,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7264,
        688
      ],
      "typeVersion": 1,
      "id": "4d79ab18-85ff-46bf-be11-9121ae25c476",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1522261375,
          "mode": "list",
          "cachedResultName": "Cadastros SL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=1522261375"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6064,
        1760
      ],
      "id": "2876e86d-7a9c-41e8-b1da-f7c5523689eb",
      "name": "Planilha de códigos de itens salinas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8kdqwiZxQAl0uvOH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 198421543,
          "mode": "list",
          "cachedResultName": "Cadastros TH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=198421543"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6080,
        1264
      ],
      "id": "226f6293-f8f2-4857-96d2-77b0a70559e0",
      "name": "Planilha de código de itens Tommy",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8kdqwiZxQAl0uvOH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Cadastros IB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6080,
        800
      ],
      "id": "0810b295-3e08-460d-a600-b211b3a930ce",
      "name": "Planilha de código de itens Inbrands",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8kdqwiZxQAl0uvOH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI",
          "mode": "list",
          "cachedResultName": "Contas contabeis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 338709825,
          "mode": "list",
          "cachedResultName": "Conta IB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit#gid=338709825"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6848,
        800
      ],
      "id": "b03e0a6d-afae-4bc5-b27a-44bf8be60b0b",
      "name": "Contas contábeis IB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8kdqwiZxQAl0uvOH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI",
          "mode": "list",
          "cachedResultName": "Contas contabeis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": " Conta TH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6816,
        1264
      ],
      "id": "c1dc6fca-e359-4a99-942f-071d7bc0a819",
      "name": "Contas contábeis TH",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8kdqwiZxQAl0uvOH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI",
          "mode": "list",
          "cachedResultName": "Contas contabeis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 461745371,
          "mode": "list",
          "cachedResultName": "Conta SL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit#gid=461745371"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6832,
        1760
      ],
      "id": "49608185-c08f-42c7-8d1e-f4e2ea69a384",
      "name": "Contas contábeis SL",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8kdqwiZxQAl0uvOH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1522261375,
          "mode": "list",
          "cachedResultName": "Cadastros SL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=1522261375"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Codigo do item": "={{ $('Edit Fields 6').item.json['Codigo do item'] }}",
            "Desc do item": "={{ $('Loop Over Items').item.json['Nome do item'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Codigo do item",
              "displayName": "Codigo do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Desc do item",
              "displayName": "Desc do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        8928,
        1920
      ],
      "id": "7bc179c0-df07-4e05-b525-9fe4025934bd",
      "name": "Planilha para adicionar o item cadastrado SL",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8kdqwiZxQAl0uvOH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 198421543,
          "mode": "list",
          "cachedResultName": "Cadastros TH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=198421543"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Codigo do item": "={{ $('Edit Fields 5').item.json['Codigo do item'] }}",
            "Desc do item": "={{ $('Loop Over Items').item.json['Nome do item'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Codigo do item",
              "displayName": "Codigo do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Desc do item",
              "displayName": "Desc do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        8944,
        1408
      ],
      "id": "1a28fd59-82d8-45e3-9e2e-a52a4d9bccb8",
      "name": "Planilha para adicionar o item cadastrado TH",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8kdqwiZxQAl0uvOH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0",
          "mode": "list",
          "cachedResultName": "Planilha de cadastros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Cadastros IB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ObEq2p4AAEI64GsxcwJlISjDLElY3Y4oaXVSVc5zqa0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Codigo do item": "={{ $('Edit Fields 4').item.json['Codigo do item'] }}",
            "Desc do item": "={{ $('Loop Over Items').item.json['Nome do item'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Codigo do item",
              "displayName": "Codigo do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Desc do item",
              "displayName": "Desc do item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        8960,
        960
      ],
      "id": "f4d9e1b6-b2e4-4151-9d34-3dd50d4bb406",
      "name": "Planilha para adicionar o item cadastrado IB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8kdqwiZxQAl0uvOH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Reponde o e-mail para o usuário que solicitou o cadastro",
        "height": 272,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4032,
        848
      ],
      "typeVersion": 1,
      "id": "4dbe31d8-3e1d-4022-bce4-c291e3a78953",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Comando do SQL que insere os dados do cadastro direto no banco\n",
        "height": 1408,
        "width": 208,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8608,
        720
      ],
      "typeVersion": 1,
      "id": "65467c9b-cd54-487b-a7ac-2c905721c461",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## IA que vai decidir se o NCM informado esta certo.",
        "height": 464,
        "width": 304,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3904,
        1168
      ],
      "typeVersion": 1,
      "id": "c5aade5e-05cf-4add-b54e-92d5a77503e4",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nome do item: {{ $json['Nome do item'] }}\n\nNCM informado do item: {{ $json.NCM }}",
        "options": {
          "systemMessage": " Você é um agente de IA responsável APENAS por validar se um código NCM é compatível com o nome de um produto.\n\nVocê SEMPRE receberá um nome de produto e um código NCM.\n\nREGRA FUNDAMENTAL\nSe o nome do produto descrever claramente um tipo de mercadoria que exista na NCM informada, você DEVE considerar o NCM como compatível, mesmo que a descrição seja curta ou genérica.\n\nVocê NÃO pode exigir informações adicionais além do nome do produto.\nVocê NÃO pode recusar um NCM apenas por falta de detalhamento de uso, aplicação ou contexto.\n\nItens descritos apenas por material e forma (ex: ganchos de ferro, parafusos de aço, chapas metálicas, suportes metálicos) DEVEM ser tratados como bens de uso geral.\n\nSomente considere INCORRETO se o nome do produto for claramente incompatível com o NCM informado.\n\nSAÍDA\nResponda APENAS com:\nVERDADEIRO\nou\nFALSO\n\nNão escreva mais nada."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3936,
        1296
      ],
      "id": "fb9d66a2-0a07-41d6-8c04-dcf44897d805",
      "name": "Decisão NCM"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Loop Over Items').item.json.BANCO }}",
                    "rightValue": "09",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3e4995cc-3568-44bc-a031-73ce9127e328"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INBRANDS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "66a77779-5c92-4be3-b1e3-83a759a808e0",
                    "leftValue": "={{ $('Loop Over Items').item.json.BANCO }}",
                    "rightValue": "15",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TOMMY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a7d88002-6847-4262-a43a-5d2f1374be6b",
                    "leftValue": "={{ $('Loop Over Items').item.json.BANCO }}",
                    "rightValue": "06",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SALINAS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9a97cb03-f882-4fde-9122-bf3240e70297",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nenhum e-mail correto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4800,
        1248
      ],
      "id": "d90764aa-a0cd-4e40-bdda-d1fa4ee374ed",
      "name": "Decisão do Banco de dados"
    },
    {
      "parameters": {
        "content": "## Se nenhuma conta contábil se encaixar com o item, entrara em contato com algum responsável\n",
        "height": 1312,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8032,
        464
      ],
      "typeVersion": 1,
      "id": "8776a504-851a-4bd7-b7dd-ff0ebd34098d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe \nfrom CLASSIF_FISCAL\nwhere CLASSIF_FISCAL = '{{ $('Loop Over Items').item.json.NCM }}'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        5392,
        736
      ],
      "id": "d411d730-2fb3-406e-a2a4-4bbdc5c17b83",
      "name": "Microsoft SQL4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea765e30-297f-4f9c-9f71-0ae92242cd3e",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5616,
        736
      ],
      "id": "780362af-c615-4339-a7d5-c85790f15d60",
      "name": "If6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe \nfrom CLASSIF_FISCAL\nwhere CLASSIF_FISCAL = '{{ $('Edit Fields5').item.json.NCM }}'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        5392,
        1264
      ],
      "id": "1e0d7b65-4a5a-46e4-b4ea-868f1a205876",
      "name": "Microsoft SQL8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea765e30-297f-4f9c-9f71-0ae92242cd3e",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5632,
        1264
      ],
      "id": "3c0a835a-355b-42e4-8646-915f5c11014e",
      "name": "If8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) Existe \nfrom CLASSIF_FISCAL\nwhere CLASSIF_FISCAL = '{{ $('Edit Fields5').item.json.NCM }}'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        5408,
        1760
      ],
      "id": "dbccc8bf-8a3a-48ff-9d8c-08c7f3aadf6b",
      "name": "Microsoft SQL6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea765e30-297f-4f9c-9f71-0ae92242cd3e",
              "leftValue": "={{ $json.Existe }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5616,
        1760
      ],
      "id": "f91607bd-138f-4d50-aa74-37debc0a9962",
      "name": "If7"
    },
    {
      "parameters": {
        "jsCode": "// 1️⃣ Remove itens sem código\nconst itensValidos = items.filter(\n  item => item.json['Codigo do item']\n);\n\n// Segurança: se não houver nenhum código válido\nif (itensValidos.length === 0) {\n  return [{\n    json: { erro: \"SEM_CODIGO_VALIDO\" }\n  }];\n}\n\n// 2️⃣ Pega o ÚLTIMO item da planilha\nconst ultimoItem = itensValidos[itensValidos.length - 1];\nconst ultimoCodigo = ultimoItem.json['Codigo do item'];\n\n// 3️⃣ Extrai letras e números\nconst match = ultimoCodigo.match(/^([A-Za-z]+)(\\d+)$/);\n\nif (!match) {\n  ultimoItem.json.erro = \"FORMATO_INVALIDO\";\n  return itensValidos;\n}\n\nconst prefixo = match[1];\nconst numeroAtual = parseInt(match[2], 10);\n\n// 4️⃣ Incrementa o número\nconst novoNumero = numeroAtual + 1;\n\n// 5️⃣ Mantém zeros à esquerda\nconst tamanhoNumero = match[2].length;\nconst novoNumeroFormatado = String(novoNumero).padStart(tamanhoNumero, '0');\n\n// 6️⃣ Novo código\nconst novoCodigo = `${prefixo}${novoNumeroFormatado}`;\n\n// 7️⃣ Salva no ÚLTIMO item\nultimoItem.json.novo_codigo = novoCodigo;\n\n// 8️⃣ Retorna APENAS o último item (evita apagar outros)\nreturn [ultimoItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6336,
        800
      ],
      "id": "8f84e11a-1f5c-4f01-8584-a16f3595a675",
      "name": "Código para separar String de int"
    },
    {
      "parameters": {
        "jsCode": "// 1️⃣ Remove itens sem código\nconst itensValidos = items.filter(\n  item => item.json['Codigo do item']\n);\n\n// Segurança: se não houver nenhum código válido\nif (itensValidos.length === 0) {\n  return [{\n    json: { erro: \"SEM_CODIGO_VALIDO\" }\n  }];\n}\n\n// 2️⃣ Pega o ÚLTIMO item da planilha\nconst ultimoItem = itensValidos[itensValidos.length - 1];\nconst ultimoCodigo = ultimoItem.json['Codigo do item'];\n\n// 3️⃣ Extrai prefixo e versão (ex: IF14.0.16)\nconst match = ultimoCodigo.match(/^([A-Za-z]+)(\\d+(?:\\.\\d+)*)$/);\n\nif (!match) {\n  ultimoItem.json.erro = \"FORMATO_INVALIDO\";\n  return [ultimoItem];\n}\n\nconst prefixo = match[1];\nconst versao = match[2];\n\n// 4️⃣ Quebra a versão em partes numéricas\nconst partes = versao.split('.').map(n => parseInt(n, 10));\n\n// 5️⃣ Incrementa APENAS a última parte\npartes[partes.length - 1] += 1;\n\n// 6️⃣ Reconstrói a versão\nconst novaVersao = partes.join('.');\n\n// 7️⃣ Novo código\nconst novoCodigo = `${prefixo}${novaVersao}`;\n\n// 8️⃣ Salva no ÚLTIMO item\nultimoItem.json.novo_codigo = novoCodigo;\n\n// 9️⃣ Retorna APENAS o último item\nreturn [ultimoItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6336,
        1760
      ],
      "id": "c51fde77-2d98-4ced-8b2c-3a96b8dbfba3",
      "name": "Código para separar String de int1"
    },
    {
      "parameters": {
        "jsCode": "// 1️⃣ Remove itens sem código\nconst itensValidos = items.filter(\n  item => item.json['Codigo do item']\n);\n\n// Segurança: se não houver nenhum código válido\nif (itensValidos.length === 0) {\n  return [{\n    json: { erro: \"SEM_CODIGO_VALIDO\" }\n  }];\n}\n\n// 2️⃣ Pega o ÚLTIMO item da planilha\nconst ultimoItem = itensValidos[itensValidos.length - 1];\nconst ultimoCodigo = ultimoItem.json['Codigo do item'];\n\n// 3️⃣ Extrai letras e números\nconst match = ultimoCodigo.match(/^([A-Za-z]+)(\\d+)$/);\n\nif (!match) {\n  ultimoItem.json.erro = \"FORMATO_INVALIDO\";\n  return itensValidos;\n}\n\nconst prefixo = match[1];\nconst numeroAtual = parseInt(match[2], 10);\n\n// 4️⃣ Incrementa o número\nconst novoNumero = numeroAtual + 1;\n\n// 5️⃣ Mantém zeros à esquerda\nconst tamanhoNumero = match[2].length;\nconst novoNumeroFormatado = String(novoNumero).padStart(tamanhoNumero, '0');\n\n// 6️⃣ Novo código\nconst novoCodigo = `${prefixo}${novoNumeroFormatado}`;\n\n// 7️⃣ Salva no ÚLTIMO item\nultimoItem.json.novo_codigo = novoCodigo;\n\n// 8️⃣ Retorna APENAS o último item (evita apagar outros)\nreturn [ultimoItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6336,
        1264
      ],
      "id": "984fc846-6574-4547-b177-d60c96675354",
      "name": "Código para separa String de int"
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.first().json.output\nconst contas = $('Aggregate2').first().json.data\n\n// ===========================\n// 1 - Extrair JSON do texto\n// ===========================\n\nconst match = rawOutput.match(/\\{[\\s\\S]*?\\}/);\n\nif (!match) {\n  return [{ json: { numero_conta: false } }];\n}\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(match[0]);\n} catch {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 2 - Verificar ID retornado\n// ===========================\n\nconst idConta = parsed.id_conta;\n\nif (!idConta || idConta === \"false\") {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 3 - Buscar no array\n// ===========================\n\nconst contaEncontrada = contas.find(c => Number(c.ID) === Number(idConta));\n\nif (!contaEncontrada) {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 4 - Retornar número da conta\n// ===========================\n\nreturn [\n  {\n    json: {\n      numero_conta: contaEncontrada[\"Numero Conta\"]\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8368,
        1920
      ],
      "id": "817591ee-39cd-4da1-abd8-1c3e515a3619",
      "name": "Cria o output em JSON 3"
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.first().json.output\nconst contas = $('Aggregate1').first().json.data\n\n// ===========================\n// 1 - Extrair JSON do texto\n// ===========================\n\nconst match = rawOutput.match(/\\{[\\s\\S]*?\\}/);\n\nif (!match) {\n  return [{ json: { numero_conta: false } }];\n}\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(match[0]);\n} catch {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 2 - Verificar ID retornado\n// ===========================\n\nconst idConta = parsed.id_conta;\n\nif (!idConta || idConta === \"false\") {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 3 - Buscar no array\n// ===========================\n\nconst contaEncontrada = contas.find(c => Number(c.ID) === Number(idConta));\n\nif (!contaEncontrada) {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 4 - Retornar número da conta\n// ===========================\n\nreturn [\n  {\n    json: {\n      numero_conta: contaEncontrada[\"Numero Conta\"]\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8368,
        1408
      ],
      "id": "67011826-03c4-40c6-a3dc-a81c5ce75308",
      "name": "Cria o output em JSON 2"
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.first().json.output\nconst contas = $('Aggregate').first().json.data\n\n// ===========================\n// 1 - Extrair JSON do texto\n// ===========================\n\nconst match = rawOutput.match(/\\{[\\s\\S]*?\\}/);\n\nif (!match) {\n  return [{ json: { numero_conta: false } }];\n}\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(match[0]);\n} catch {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 2 - Verificar ID retornado\n// ===========================\n\nconst idConta = parsed.id_conta;\n\nif (!idConta || idConta === \"false\") {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 3 - Buscar no array\n// ===========================\n\nconst contaEncontrada = contas.find(c => Number(c.ID) === Number(idConta));\n\nif (!contaEncontrada) {\n  return [{ json: { numero_conta: false } }];\n}\n\n// ===========================\n// 4 - Retornar número da conta\n// ===========================\n\nreturn [\n  {\n    json: {\n      numero_conta: contaEncontrada[\"Numero Conta\"]\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8384,
        960
      ],
      "id": "ac6062a8-0c08-43a4-a5f8-877bc60b6ae7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2304,
        3136
      ],
      "id": "b54d0996-b844-4891-a207-5ca8eb74110e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI",
          "mode": "list",
          "cachedResultName": "Contas contabeis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": " Conta TH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Numero Conta": "={{ $json.CONTA_CONTABIL }}",
            "Descricao": "={{ $json.DESC_CONTA }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Numero Conta",
              "displayName": "Numero Conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descricao",
              "displayName": "Descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2720,
        3136
      ],
      "id": "0070e144-3a0b-4df5-a210-232c8db90a3d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8kdqwiZxQAl0uvOH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select a.CONTA_CONTABIL, a.DESC_CONTA, b.DESC_CONTA_TIPO\nfrom CTB_CONTA_PLANO a\n\tjoin CTB_CONTA_TIPO b on a.TIPO_CONTA = b.TIPO_CONTA\nwhere b.DESC_CONTA_TIPO = 'ESTOQUES' \n\tor b.DESC_CONTA_TIPO = 'BENS EM OPERACAO' \n\tor b.desc_conta_tipo = 'DESPESAS COM PESSOAL' \n\tor b.desc_conta_tipo = 'DESPESAS COM MARKETING / PROPAGANDA'\n\tor b.desc_conta_tipo = 'GERAIS E ADMINISTRATIVAS'\n\tor b.desc_conta_tipo = 'PRESTACAO DE SERVICOS'\n\tand a.INATIVA = '0'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        2512,
        2976
      ],
      "id": "e2ad8fd2-9af3-421d-a640-4e1b5e399550",
      "name": "Microsoft SQL1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI",
          "mode": "list",
          "cachedResultName": "Contas contabeis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 338709825,
          "mode": "list",
          "cachedResultName": "Conta IB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit#gid=338709825"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Numero Conta": "={{ $json.CONTA_CONTABIL }}",
            "Descricao": "={{ $json.DESC_CONTA }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Numero Conta",
              "displayName": "Numero Conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descricao",
              "displayName": "Descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2720,
        2976
      ],
      "id": "7ba16d43-68d2-4531-9e75-b4b023c416f8",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8kdqwiZxQAl0uvOH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI",
          "mode": "list",
          "cachedResultName": "Contas contabeis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 461745371,
          "mode": "list",
          "cachedResultName": "Conta SL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yzkeSegmLnEDCIBW5miREIBPkx3dBC8zqFUzaTnRaGI/edit#gid=461745371"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Numero Conta": "={{ $json.CONTA_CONTABIL }}",
            "Descricao": "={{ $json.DESC_CONTA }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Numero Conta",
              "displayName": "Numero Conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descricao",
              "displayName": "Descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2720,
        3296
      ],
      "id": "555fb4a9-e60c-41ab-839d-1abe74183be1",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8kdqwiZxQAl0uvOH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select a.CONTA_CONTABIL, a.DESC_CONTA\nfrom CTB_CONTA_PLANO a\n\tjoin CTB_CONTA_TIPO b on a.TIPO_CONTA = b.TIPO_CONTA\nwhere b.DESC_CONTA_TIPO = 'ESTOQUES' \n\tor b.DESC_CONTA_TIPO = 'BENS EM OPERACAO' \n\tor b.desc_conta_tipo = 'DESPESAS COM PESSOAL' \n\tor b.desc_conta_tipo = 'DESPESAS COM MARKETING / PROPAGANDA'\n\tor b.desc_conta_tipo = 'GERAIS E ADMINISTRATIVAS'\n\tor b.desc_conta_tipo = 'PRESTACAO DE SERVICOS'\n\tand a.INATIVA = '0'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        2512,
        3136
      ],
      "id": "ee9d2f18-d3bc-4fed-b122-c737969c3ec2",
      "name": "Microsoft SQL5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select a.CONTA_CONTABIL, a.DESC_CONTA\nfrom CTB_CONTA_PLANO a\n\tjoin CTB_CONTA_TIPO b on a.TIPO_CONTA = b.TIPO_CONTA\nwhere b.DESC_CONTA_TIPO = 'ESTOQUES' \n\tor b.DESC_CONTA_TIPO = 'BENS EM OPERACAO' \n\tor b.desc_conta_tipo = 'DESPESAS COM PESSOAL' \n\tor b.desc_conta_tipo = 'DESPESAS COM MARKETING / PROPAGANDA'\n\tor b.desc_conta_tipo = 'GERAIS E ADMINISTRATIVAS'\n\tor b.desc_conta_tipo = 'PRESTACAO DE SERVICOS'\n\tand a.INATIVA = '0'\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        2512,
        3296
      ],
      "id": "c70f62dc-80cd-434b-ab20-6306c9664f4c",
      "name": "Microsoft SQL7"
    },
    {
      "parameters": {
        "content": "## Adiciona as contas na planilha de contas \n",
        "height": 720,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2144,
        2816
      ],
      "id": "91fd8d5c-e6d5-4f92-aaca-2d3bd583d747",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        2192,
        1296
      ],
      "id": "2d7ceb91-5292-49e3-a26d-a7fae1c3c503",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "6C2ysOBDDWfGgE2B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2400,
        1120
      ],
      "id": "31b9f21f-3090-4ee7-baf3-749245b13a9a",
      "name": "Mark a message as read",
      "webhookId": "032fe5b2-f2ec-44c3-a0c1-3b6ac138642c",
      "credentials": {
        "gmailOAuth2": {
          "id": "6C2ysOBDDWfGgE2B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2624,
        1296
      ],
      "id": "63d6acfa-4ad4-469a-aff8-087881ba5cc7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"cnpj\": {\n      \"type\": \"string\",\n      \"description\": \"Extrair campo CNPJ/CPF do destinatario\"\n    },\n    \"emissor\": {\n      \"type\": \"string\",\n      \"description\": \"Extrair o nome completo do emissor conforme consta no documento.\"\n    },\n    \"itens\": {\n      \"type\": \"array\",\n      \"description\": \"\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"nome_item\": {\n            \"type\": \"string\",\n            \"description\": \"Extrair a descrição completa do produto ou serviço exatamente como aparece no documento.\"\n          },\n          \"ncm\": {\n            \"type\": \"string\",\n            \"description\": \"Extrair o campo NCM\"\n          },\n          \"cst\": {\n            \"type\": \"string\",\n            \"description\": \"Extrair o campo CST ou O/CST ou CSOSN\"\n          },\n          \"CFOP\":{\n            \"type\" : \"string\",\n            \"description\" : \"Extrair o campo CFOP\"\n          }\n        },\n        \"required\": [\n          \"nome_item\",\n          \"ncm\",\n          \"cst\",\n          \"CFOP\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"cnpj\",\n    \"emissor\",\n    \"itens\"\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        2832,
        1296
      ],
      "id": "c4da1e7c-381a-47d5-81c3-1102d67207c8",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2816,
        1504
      ],
      "id": "877dbf30-2fa9-458b-9384-c1b4e5df272e",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "jbgPsIgjGxT5o9y2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "099cd04c-e7f2-46a9-b076-18768c4a707f",
              "leftValue": "={{ $json.status }}",
              "rightValue": "VERDADEIRO",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4448,
        1296
      ],
      "id": "93e52aca-f8fc-4482-947a-e7bc455eb29e",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Envia o e-mail para suporte caso o NCM não bata com a descrição do item",
        "height": 304,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4528,
        1440
      ],
      "typeVersion": 1,
      "id": "106a7264-2b7f-40c9-af1e-bb08ae21ae99",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.itens",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3168,
        1296
      ],
      "id": "6311ea01-8972-43c1-a1b2-072b108ee703",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3664,
        1296
      ],
      "id": "e8248fbb-2649-4486-b66c-5161b9e88c29",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Edit Fields 1').item.json.id }}",
        "message": "=Olá!\n\n<br><br>Segue o cadastro de itens abaixo.\n\n<br><br>\n\n<table width=\"100%\" cellpadding=\"6\" cellspacing=\"0\"\n       style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;\">\n    <thead>\n        <tr style=\"background-color: #f2f2f2;\">\n            <th style=\"border: 1px solid #ccc;\">Código do item</th>\n            <th style=\"border: 1px solid #ccc;\">Descrição do item</th>\n        </tr>\n    </thead>\n    <tbody>\n    {{\n    $json.data\n      .filter(d => d[\"Codigo do item\"] && d[\"Desc do item\"])\n      .map(d => `\n        <tr>\n            <td style=\"border: 1px solid #ccc; text-align: center;\">\n                ${d[\"Codigo do item\"]}\n            </td>\n            <td style=\"border: 1px solid #ccc; text-align: center;\">\n                ${d[\"Desc do item\"]}\n            </td>\n        </tr>\n      `).join('')\n    }}\n</tbody>\n</table>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4096,
        976
      ],
      "id": "26193443-0359-4c29-9ce6-20e7ba9a86d0",
      "name": "Reply to a message1",
      "webhookId": "76896a78-2e21-4f5f-ae89-9c76a0420b5b",
      "credentials": {
        "gmailOAuth2": {
          "id": "6C2ysOBDDWfGgE2B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3872,
        976
      ],
      "id": "f1ba861f-1440-4e9f-9544-b39e9f6b12d4",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "content": "## Manda e-mail falando que o CNPJ esta errado ",
        "height": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4928,
        1728
      ],
      "id": "4af2616f-cd2e-403c-836f-1a54b6c0ab4d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Verifica se o NCM esta no banco",
        "height": 1280,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5328,
        640
      ],
      "id": "8efe5f50-d1e1-402c-891f-02a7529f6bdd",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Estrai do PDF todos os dados ",
        "height": 304,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2592,
        1168
      ],
      "id": "fa26cc00-cf1d-4565-8de0-68a427c7ac90",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## IA que identifica os campos informados e retorna seus respectivos resultados",
        "height": 496,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2800,
        1136
      ],
      "id": "d0efaec5-083f-40fd-b314-14a7b7fec0ad",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Automação cadastro de itens ",
        "height": 2032,
        "width": 7088,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2096,
        416
      ],
      "id": "284f0d45-4a47-45e1-ab4d-a60771d5d037",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "message": "Olá!\n\nO e-mail enviado veio sem o arquivo.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2400,
        1520
      ],
      "id": "3078e0ce-0623-4010-b74a-6a8181cfd5c4",
      "name": "Reply to a message",
      "webhookId": "2bc31233-fada-432a-b6ef-c6908e2ffdd0",
      "credentials": {
        "gmailOAuth2": {
          "id": "6C2ysOBDDWfGgE2B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Edit Fields 1').item.json.id }}",
        "message": "=Olá!\n\n<br><br>O item {{ $('Loop Over Items').item.json['Nome do item'] }} não combina com o NCM {{ $('Loop Over Items').item.json.NCM }}.\n\n<br><br>Para o cadastro desse item e quando o NCM estiver correto necessario realizar o cadastro manual.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4608,
        1616
      ],
      "id": "79577c87-9a5f-4399-8710-9c09fd62dd2e",
      "name": "Reply to a message2",
      "webhookId": "3eac3d97-a0a1-4b9c-8e72-cf0fc1439094",
      "credentials": {
        "gmailOAuth2": {
          "id": "6C2ysOBDDWfGgE2B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Edit Fields 1').item.json.id }}",
        "message": "=O usuário {{ $('Gmail Trigger').item.json.from.value[0].address }} acabou mandando uma nota com o CNPJ incorreto, responsaveis por favor resolver.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4992,
        1856
      ],
      "id": "182cf402-769c-4ceb-a215-71b1bf9d95cc",
      "name": "Reply to a message3",
      "webhookId": "66237d11-1b98-45c9-bb19-1214cc863412",
      "credentials": {
        "gmailOAuth2": {
          "id": "6C2ysOBDDWfGgE2B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Edit Fields 1').item.json.id }}",
        "message": "=Olá!\n\nNão foi possível encontrar nenhuma conta contábil compatível para o item {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\nCaso encontre uma conta compatível, tera que cadastrar manualmente.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        8096,
        720
      ],
      "id": "44d0a094-271c-428b-a315-c9d28bd76d27",
      "name": "Reply to a message4",
      "webhookId": "706be682-e606-4889-a263-b32700dab2dc",
      "credentials": {
        "gmailOAuth2": {
          "id": "6C2ysOBDDWfGgE2B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Cadastro de NCM",
        "message": "=Olá!\n\nE necessario realizar o cadastro do NCM: {{ $('Edit Fields 2').item.json.NCM }} \nNo banco: {{ $('Edit Fields 2').item.json.BANCO }} (Inicio do CNPJ)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5888,
        624
      ],
      "id": "f73d5ad9-1562-454e-9550-2158a5240a2e",
      "name": "Send a message",
      "webhookId": "1508721f-5722-45c2-abf3-3f9b5e8e4d6f",
      "credentials": {
        "gmailOAuth2": {
          "id": "6C2ysOBDDWfGgE2B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Código do item repetido",
        "message": "=Olá!\n\nO codigo de item <strong>{{ $('Edit Fields 4').item.json['Codigo do item'] }}</strong> ele ja foi cadastrado,\nPor favor, cadastrar o item manualmente com o codigo correto, e depois atualizar a planilha de cadastro de itens com o novo código.\n\nSegue dados:\n\nDescrição do item: {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\nCom o NCM: {{ $('Edit Fields 2').item.json.NCM }}\n\nCom o CST: {{ $('Edit Fields 2').item.json.CST }}\n\nE com a conta contábil: {{ $('Code in JavaScript').item.json.numero_conta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        8960,
        1152
      ],
      "id": "576b4350-359d-41e7-b7d7-589f900fe8b8",
      "name": "Send a message1",
      "webhookId": "7a4f73f5-dfc0-4036-bfeb-84b1e3da556e",
      "credentials": {
        "gmailOAuth2": {
          "id": "6C2ysOBDDWfGgE2B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Código do item repetido",
        "message": "=Olá!\n\nO codigo de item <strong>{{ $('Edit Fields 4').item.json['Codigo do item'] }}</strong> ele ja foi cadastrado,\nPor favor, cadastrar o item manualmente com o codigo correto, e depois atualizar a planilha de cadastro de itens com o novo código.\n\nSegue dados:\n\nDescrição do item: {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\nCom o NCM: {{ $('Edit Fields 2').item.json.NCM }}\n\nCom o CST: {{ $('Edit Fields 2').item.json.CST }}\n\nE com a conta contábil: {{ $('Code in JavaScript').item.json.numero_conta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        8944,
        1600
      ],
      "id": "6b446df1-96f3-4b48-80e1-4d6ab17e43f6",
      "name": "Send a message2",
      "webhookId": "7a4f73f5-dfc0-4036-bfeb-84b1e3da556e",
      "credentials": {
        "gmailOAuth2": {
          "id": "6C2ysOBDDWfGgE2B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Código do item repetido",
        "message": "=Olá!\n\nO codigo de item <strong>{{ $('Edit Fields 4').item.json['Codigo do item'] }}</strong> ele ja foi cadastrado,\nPor favor, cadastrar o item manualmente com o codigo correto, e depois atualizar a planilha de cadastro de itens com o novo código.\n\nSegue dados:\n\nDescrição do item: {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\nCom o NCM: {{ $('Edit Fields 2').item.json.NCM }}\n\nCom o CST: {{ $('Edit Fields 2').item.json.CST }}\n\nE com a conta contábil: {{ $('Code in JavaScript').item.json.numero_conta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        8928,
        2112
      ],
      "id": "468de7f2-979e-4ce6-ae15-dcd6419bb8fa",
      "name": "Send a message3",
      "webhookId": "7a4f73f5-dfc0-4036-bfeb-84b1e3da556e",
      "credentials": {
        "gmailOAuth2": {
          "id": "6C2ysOBDDWfGgE2B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Edit Fields 1').item.json.id }}",
        "message": "=Olá!\n\nNão foi possível encontrar nenhuma conta contábil compatível para o item {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\nCaso encontre uma conta compatível, tera que cadastrar manualmente.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        8096,
        1184
      ],
      "id": "bef655eb-d176-4530-9886-a7312466fecf",
      "name": "Reply to a message5",
      "webhookId": "706be682-e606-4889-a263-b32700dab2dc",
      "credentials": {
        "gmailOAuth2": {
          "id": "6C2ysOBDDWfGgE2B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Edit Fields 1').item.json.id }}",
        "message": "=Olá!\n\nNão foi possível encontrar nenhuma conta contábil compatível para o item {{ $('Edit Fields 2').item.json['Nome do item'] }}\n\nCaso encontre uma conta compatível, tera que cadastrar manualmente.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        8096,
        1632
      ],
      "id": "3cffe81a-bff4-42d9-ab8f-a384353fe7d3",
      "name": "Reply to a message6",
      "webhookId": "706be682-e606-4889-a263-b32700dab2dc",
      "credentials": {
        "gmailOAuth2": {
          "id": "6C2ysOBDDWfGgE2B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Cadastro de NCM",
        "message": "=Olá!\n\nE necessario realizar o cadastro do NCM: {{ $('Edit Fields 2').item.json.NCM }} \nNo banco: {{ $('Edit Fields 2').item.json.BANCO }} (Inicio do CNPJ)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5856,
        1168
      ],
      "id": "e50aa128-2731-4036-a8a6-873260420392",
      "name": "Send a message4",
      "webhookId": "1508721f-5722-45c2-abf3-3f9b5e8e4d6f",
      "credentials": {
        "gmailOAuth2": {
          "id": "6C2ysOBDDWfGgE2B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<Boletim de atualização fiscais> joaopedro.mlima9@gmail.com",
        "subject": "Cadastro de NCM",
        "message": "=Olá!\n\nE necessario realizar o cadastro do NCM: {{ $('Edit Fields 2').item.json.NCM }} \nNo banco: {{ $('Edit Fields 2').item.json.BANCO }} (Inicio do CNPJ)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5840,
        1664
      ],
      "id": "8c472623-14e0-4871-a8d6-93567fe09cc7",
      "name": "Send a message5",
      "webhookId": "1508721f-5722-45c2-abf3-3f9b5e8e4d6f",
      "credentials": {
        "gmailOAuth2": {
          "id": "6C2ysOBDDWfGgE2B",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86922936-95e1-472b-ab6c-2535382450ce",
              "name": "Codigo do item",
              "value": "={{ $json.novo_codigo.toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6576,
        800
      ],
      "id": "8c7960b3-00fd-404f-a0c5-4f4d891819d4",
      "name": "Edit Fields 4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84a56bfa-7d5e-40ed-9199-0d6d7726e144",
              "name": "status",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4256,
        1296
      ],
      "id": "3635fd52-64b0-46fd-8f20-066cee817daa",
      "name": "Edit Fields 3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2a167fc-4392-45cc-8a6e-efeb6ffbff77",
              "name": "BANCO",
              "value": "={{ ($json.output.cnpj).slice(0,2) }}",
              "type": "string"
            },
            {
              "id": "ab6d938a-8b78-4820-a81d-4afa1e908ee1",
              "name": "NCM",
              "value": "={{ ($json['output.itens'].ncm).replace(/\\./g, \"\") }}",
              "type": "string"
            },
            {
              "id": "83cdcb94-679f-4860-968c-82a94680bced",
              "name": "Nome do item",
              "value": "={{ $json['output.itens'].nome_item }}",
              "type": "string"
            },
            {
              "id": "8b8589f0-02e5-4852-ad34-89908560b00a",
              "name": "CST",
              "value": "={{ ($json['output.itens'].cst).slice(0,1) }}",
              "type": "string"
            },
            {
              "id": "daaaa952-3712-421b-9bfb-cef1bbf4156b",
              "name": "Emissor",
              "value": "={{ $json.output.emissor }}",
              "type": "string"
            },
            {
              "id": "64b9802b-b777-475c-9ca7-6f0ad6e0d6d2",
              "name": "CFOP",
              "value": "={{ $json['output.itens'].CFOP }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3408,
        1296
      ],
      "id": "90bb4317-6f39-49d5-acc3-b14668a22da5",
      "name": "Edit Fields 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2ab8bb7-2b21-4a32-a6b0-a7f003b24e04",
              "name": "data",
              "value": "attachment_0",
              "type": "binary"
            },
            {
              "id": "09389608-d213-4411-ace8-e37f1533ed10",
              "name": "E-mail do solicitante",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "ee3edb79-5202-41b7-a1bf-309f459e43ef",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "7c0c4070-a60f-4426-a199-0aa0563ea1f0",
              "name": "Setor",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        1296
      ],
      "id": "34dc8abc-deb6-48f4-907b-2eff0559707b",
      "name": "Edit Fields 1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86922936-95e1-472b-ab6c-2535382450ce",
              "name": "Codigo do item",
              "value": "={{ $json.novo_codigo.toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6560,
        1264
      ],
      "id": "0c188375-ca67-413a-8cf0-6bd43674deb6",
      "name": "Edit Fields 5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86922936-95e1-472b-ab6c-2535382450ce",
              "name": "Codigo do item",
              "value": "={{ $json.novo_codigo.toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6592,
        1760
      ],
      "id": "25b7f913-74fa-4d8c-b1c9-706497f7b7d7",
      "name": "Edit Fields 6"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Decisão NCM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Planilha para adicionar o item cadastrado IB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Reply to a message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL2": {
      "main": [
        [
          {
            "node": "Planilha para adicionar o item cadastrado TH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Reply to a message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria o output em JSON 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL3": {
      "main": [
        [
          {
            "node": "Planilha para adicionar o item cadastrado SL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Reply to a message6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria o output em JSON 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha de códigos de itens salinas": {
      "main": [
        [
          {
            "node": "Código para separar String de int1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha de código de itens Tommy": {
      "main": [
        [
          {
            "node": "Código para separa String de int",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha de código de itens Inbrands": {
      "main": [
        [
          {
            "node": "Código para separar String de int",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contas contábeis IB": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contas contábeis TH": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contas contábeis SL": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha para adicionar o item cadastrado SL": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha para adicionar o item cadastrado TH": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha para adicionar o item cadastrado IB": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decisão NCM": {
      "main": [
        [
          {
            "node": "Edit Fields 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decisão do Banco de dados": {
      "main": [
        [
          {
            "node": "Microsoft SQL4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Microsoft SQL8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Microsoft SQL6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL4": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Planilha de código de itens Inbrands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL8": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Planilha de código de itens Tommy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL6": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Send a message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Planilha de códigos de itens salinas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código para separar String de int": {
      "main": [
        [
          {
            "node": "Edit Fields 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código para separar String de int1": {
      "main": [
        [
          {
            "node": "Edit Fields 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código para separa String de int": {
      "main": [
        [
          {
            "node": "Edit Fields 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o output em JSON 3": {
      "main": [
        [
          {
            "node": "Microsoft SQL3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o output em JSON 2": {
      "main": [
        [
          {
            "node": "Microsoft SQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Microsoft SQL5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Microsoft SQL1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Microsoft SQL7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL5": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL7": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Decisão do Banco de dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decisão NCM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Reply to a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 4": {
      "main": [
        [
          {
            "node": "Contas contábeis IB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 5": {
      "main": [
        [
          {
            "node": "Contas contábeis TH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 6": {
      "main": [
        [
          {
            "node": "Contas contábeis SL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7629fd91-8ad6-4d61-b344-76032b8e7805",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a9dfd0acbb8262042acf20bd8e87246f186841e2cce4fb92bf2575b90748f88c"
  },
  "id": "xCpbwf44khr8BrJ2jOHzJ",
  "tags": [
    {
      "updatedAt": "2026-03-02T00:06:48.773Z",
      "createdAt": "2026-03-02T00:06:48.773Z",
      "id": "VHcBGYy1nfsiGueH",
      "name": "Cadastro de itens"
    }
  ]
}